@import url('https://fonts.cdnfonts.com/css/quiapo-free');

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.mode-section{
    display: none;
}

.mode-section > .mode-title{
    font-family: 'Quiapo Free', sans-serif;
    text-align: center;
    color: #785D17;
    letter-spacing: 3px;
    text-shadow: 8px 1px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mode-title {
    font-family: 'Quiapo Free', sans-serif;
    text-align: center;
    color: #785D17;
    letter-spacing: 3px;
    text-shadow: 8px 1px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mode-title > .line-one {
    font-size: 90px;
}

.mode-section > .btn {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 12vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(226, 171, 30, 0.5), rgba(214, 193, 139, 0.5));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.mode-section > .btn:nth-child(2) {
    bottom: 40%;
}

.mode-section > .btn:nth-child(3) {
    bottom: 25%;
}

.mode-section > .btn > button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: transparent;
    background-color: transparent;
    font-family: 'Quiapo Free', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #743722;
}

@media only screen and (min-width: 500px) and (max-width: 1190px){
    .mode-title > .line-one {
        font-size: 75px;
    }

    .mode-section > .btn {
        width: 350px;
    }
}



@media only screen and (max-width: 499px){

    .mode-title > .line-one {
        font-size: 60px;
    }

    .mode-section > .btn {
        width: 250px;
    }
    .mode-section > .btn > button {
        font-size: 40px;
    }
}