@import url('https://fonts.cdnfonts.com/css/quiapo-free');

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.setting-section{
    display: none;
}

.setting-section > .title{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quiapo Free', sans-serif;
    text-align: center;
    color: #785D17;
    letter-spacing: 10px;
    text-shadow: 14px 1px 5px rgba(0, 0, 0, 0.25);
}

.setting-container{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px 100px;
}

.setting-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    width: 25vw;
    height: 10vh;
    background: linear-gradient(rgba(226, 171, 30, 0.5), rgba(214, 193, 139, 0.5));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Quiapo Free', sans-serif;
    color: #743722;
    border: none;
    cursor: pointer;
}

.setting-btn button:hover{
    color: white;
}

@media only screen and (min-width: 500px) and (max-width: 1190px){

    .setting-section > .title > .line-one{
        font-size: 90px;
    }

    .setting-btn button{
        font-size: 30px;
        width: 250px;
    }
}



@media only screen and (max-width: 499px){

    .setting-section > .title > .line-one{
        font-size: 60px;
    }

    .setting-btn button{
        font-size: 25px;
        width: 200px;
    }
    
}