@import url('https://fonts.cdnfonts.com/css/quiapo-free');

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.start-section{
    display: none;
}

.start-section > .title{
    font-family: 'Quiapo Free', sans-serif;
    text-align: center;
    color: #785D17;
    letter-spacing: 3px;
    text-shadow: 8px 1px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-section > .title > .line-one{
    font-size: 70px;
}

.start-section > .title > .line-two{
    font-size: 140px;
}

.start-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px 100px;
}
.start-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    width: 25vw;
    height: 10vh;
    background: linear-gradient(rgba(226, 171, 30, 0.5), rgba(214, 193, 139, 0.5));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Quiapo Free', sans-serif;
    color: #743722;
    border: none;
    cursor: pointer;
}
.start-btn button:hover{
    color: white;
}

@media only screen and (min-width: 500px) and (max-width: 800px){

    .start-section > .title > .line-one{
        font-size: 100px;
    }

    .start-section > .title > .line-two{
        font-size: 100px;
    }

    .start-btn button{
        width: 250px;
        font-size: 40px;
    }
}



@media only screen and (max-width: 499px){

    .start-section > .title > .line-one{
        font-size: 70px;
    }

    .start-section > .title > .line-two{
        font-size: 90px;
    }

    .start-btn button{
        width: 250px;
        font-size: 40px;
    }
}