@import url('https://fonts.cdnfonts.com/css/quiapo-free');

html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    font-family: 'Quiapo Free', sans-serif;
    text-decoration: none;
    color: #743722;
}

.container {
    position: relative;
    background: url('/images/background1.jpg') no-repeat fixed center;
    background-size: 100% 100%;
    height: 100vh;
}
.landing-page{
    display: none;
}

.landing-page > .title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quiapo Free', sans-serif;
    text-align: center;
    color: #785D17;
    letter-spacing: 10px;
    text-shadow: 14px 1px 5px rgba(0, 0, 0, 0.25);
}

.landing-page > .continue-btn {
    position: absolute;
    text-align: center;
    font-size: 25px;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.landing-page > .continue-btn > a {
    animation: blink 1.75s ease-in-out infinite; /* Adjusted animation for smoother effect */
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}